/*@media screen and (max-width: 1280px);
{}*/
body{
    padding:0px;
    margin: 0px;
    font-family: 'Roboto', sans-serif;
    display: flex;
    flex-direction: column;
}
header{
    background-image: url(image/mastehead.jpg);
    background-size: cover;
    background-position: 50% 50%;
    
    height: 100vh;
    width: 100vw;
}
.contenaireheader{
    width: 150px;
    height: 100vh;
    padding-left: 30px;
    display: flex;
   flex-direction: column;
   justify-content: space-between; 
    color:white; 

}
.contenairelogo{
    display: flex;
    flex-direction: row;
    align-items:center ;
   
}
.contenairelogo img{
    width: 32px;
    height: 32px;
 
}
.contenairelogo p{
    margin-left: 8px;
}
.contenaire{
    padding-bottom: 70px;
}
.paragraphe{
    font-size: 10px;
  
}

.deux{
   /* background-color: teal;*/
    height: 50vh;
    width: 100vw;
    margin:0px;   
}

.titre2{
    padding-top: 5vh;
    padding-left: 30px;
    font-weight: 200;
}
.deux p{
    font-size: 10px;
    color: grey;
    padding-right: 30px;
    padding-left: 30px; 
}
.troie{
    /*background-color: rgb(0, 81, 128);*/
    height: 110vh;
    width: 100vw;
}
.troie p, a{
    font-size: 10px;
}
.menubox{
    padding-top:30px;
    padding-left:30px;
    padding-right: 30px;
    display: flex;
    flex-direction: column;
}
.box{ 
   height: 20vh;
    display: flex;
   flex-direction: column;
   justify-content: space-around;
   color:white;
   
   
}
.contenainrelementbox{
    width: 80%;
    margin: 0 auto;
}
.box1{
    
    background-color: rgb(236, 134, 134);
    
    
}
h4{
    padding:0px;
    margin: 0px;
}
.box2{
   
  
    background-color: rgb(67, 81, 117);
}
.box3{
    background-image: url(image/box-bg.jpg);
    background-size: cover;
    background-position: 50% 50%;
}
.box4{
    background-image: url(image/box-bg-lg.jpg);
    background-size: cover;
    background-position: 50% 50%;
}
.box5{
  
    background-color: rgb(64, 206, 128);
}
.quatre{
    /*background-color: rgb(9, 0, 128);*/
    height: 70vh;
    width: 100vw;
}
.contenairelementquatre{
    width: 80%;
    margin: 0 auto; 
}
.contenairelementquatre h3{
    font-weight: 200;  
}
.items{
    color: grey;
    font-size: 10px;
}
.cinq{
    background-image: url(image/full-image.jpg);
    background-size: cover;
    background-position: 3% 30%;
    height: 75vh;
    width: 100vw;
    display: flex;
    align-items:center ;
    justify-content: center;
}
.contenairelementcinq{
    width: 80%;
    color: white;
}
.contenairelementcinq h2{
    font-size: 42px;
    font-weight: 200;
}
.contenairelementcinq p, a{
    font-size: 10px;
    color: white;
    text-decoration: none;
}
#flesh{
    display: flex;
   
}

#fleshflesh{
    margin-left: 10px;
}
.six{
    background-color: #84c99d;
    height: 70vh;
    width: 100vw;
}
.contenairelementsix{
    width: 80%;
    margin: 0 auto;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.contenairelementsix h3{
    margin : 0;
}
.contenairelementsix p, h6{
    font-size: 10px;
}
.sept{
    background-color: rgb(124, 0, 128);
    height: 100vh;
    width: 100vw;
}
.huit{
    background-color: rgb(128, 0, 70);
    height: 100vh;
    width: 100vw;
}
footer{
    background-color: rgb(8, 3, 51);
    height: 100vh;
    width: 100vw;
}


