body{
    padding:0px;
    margin: 0px;
    font-family: 'Roboto', sans-serif;
    display: flex;
    flex-direction: column;
}
/*@media screen and (max-width:750px){
    body{
       background-color: hotpink;
    }
}*/
header{
    background-image: url(image/mastehead.jpg);
    background-size: cover;
    background-position: 50% 50%;
    height: 100vh;
    width: 100vw;
}

.contenaireheader{
    width: 150px;
    height: 100vh;
    display: flex;
   flex-direction: column;
   justify-content: space-between; 
    color:white; 

}

.contenairelogo{
    display: flex;
    flex-direction: row;
    align-items:center ;
   
}
.contenairelogo img{
    width: 32px;
    height: 32px;
 
}
.contenairelogo p{
    margin-left: 8px;
}
.contenaire{
   /*
    padding-bottom: 70px;*/
}
.paragraphe{
    font-size: 10px;
  
}
.super-container{
    width: 100%;
}
.container{
    width: 80%;
    margin: 50px auto 50px auto;
    display: flex;

    flex-direction: column;
    flex-wrap: wrap;
    row-gap: 1em;
}
.super-container-item-1 p{
    color: #4b4b4b;
    font-size: .9em; /ICI/
}
/*.deux{
    width: 90%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}
.titre2{
   
    
    font-weight: 200;
}
.deuxdeux p{
    font-size: 10px;
    color: grey;
    
}
.deux{
   
    height: 50vh;
    width: 100vw;
    margin:0px;   
}

.titre2{
    padding-top: 5vh;
    padding-left: 30px;
    font-weight: 200;
}
.deux p{
    font-size: 10px;
    color: grey;
    padding-right: 30px;
    padding-left: 30px; 
}*/
.troie{
    /*background-color: rgb(0, 81, 128);*/
    height: 110vh;
    width: 100vw;
}
.troie p, a{
    font-size: 10px;
}
.menubox{
    padding-top:30px;
    padding-left:30px;
    padding-right: 30px;
    display: flex;
    flex-direction: column;
}
.box{ 
   height: 20vh;
    display: flex;
   flex-direction: column;
   justify-content: space-around;
   color:white;
   
   
}
.contenainrelementbox{
    width: 80%;
    margin: 0 auto;
}
.box1{
    
    background-color: rgb(236, 134, 134);
    
    
}
h4{
    padding:0px;
    margin: 0px;
}
.box2{
   
  
    background-color: rgb(67, 81, 117);
}
.box3{
    background-image: url(image/box-bg.jpg);
    background-size: cover;
    background-position: 50% 50%;
}
.box4{
    background-image: url(image/box-bg-lg.jpg);
    background-size: cover;
    background-position: 50% 50%;
}
.box5{
  
    background-color: rgb(64, 206, 128);
}
.quatre{
    /*background-color: rgb(9, 0, 128);*/
    height: 70vh;
    width: 100vw;
}
.contenairelementquatre{
    width: 80%;
    margin: 0 auto; 
}
.contenairelementquatre h3{
    font-weight: 200;  
}
.items{
    color: grey;
    font-size: 10px;
}
.cinq{
    background-image: url(image/full-image.jpg);
    background-size: cover;
    background-position: 3% 30%;
    height: 75vh;
    width: 100vw;
    display: flex;
    align-items:center ;
    justify-content: center;
}
.contenairelementcinq{
    width: 80%;
    color: white;
}
.contenairelementcinq h2{
    font-size: 42px;
    font-weight: 200;
}
.contenairelementcinq p, a{
    font-size: 10px;
    color: white;
    text-decoration: none;
}
#flesh{
    display: flex;
   
}

#fleshflesh{
    margin-left: 10px;
}
.six{
    background-color: #84c99d;
    height: 80vh;
    width: 100vw;
    margin:0;
}
.contenairelementsix{
    width: 80%;
    margin: 0 auto;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.contenairelementsix h3{
    padding-top:20px;
    font-weight: 300;
}
.contenairelementsix p, h6{
    font-size: 10px;
}
.sept{
    /*background-color: rgb(124, 0, 128);*/
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
}
.contenairelementsept{
   
   /* padding-top: 50px;*/
    display: flex;
   flex-direction: column;
   flex-wrap: wrap;
   row-gap: 5em;
   width: 80%;
   margin: 0 auto;

}
.contenairelementsept p{
    font-size: 10px;
    color: grey;
}
.contenairelementsept h4{
    font-weight: 300;
}
.divelementsept{
    height: 35vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    row-gap: 10em;
}
/*.teamplan{
    padding-top: 50px;
}*/
button{
    /*background-color: hotpink;*/
}
.icon{
    color:grey;
}
.legacy{
    width: 40px;
    height: 20px;
    background-color:grey;
    color:white;
    font-size: 5px;
    border: none;
    border-radius: 2px;
}
.buynow{
    width: 70px;
    height: 20px;
    background-color: #84c99d;
    color:white;
    font-size: 5px;
    border: none;
    border-radius: 2px;
}
.mostpopular{
    width: 70px;
    height: 20px;
    background-color: #b084c9;
    color:white;
    font-size: 5px;
    border: none;
    border-radius: 2px;
}
.buynow{
    width: 70px;
    height: 20px;
    background-color: #84c99d;
    color:white;
    font-size: 5px;
    border: none;
    border-radius: 2px;
}

footer{
    color: white;
    font-size: 10px;
    background-color: #182432;
    height: 60vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.contenairelementfooter{
    width: 80%;
    margin:0 auto;
    display: flex;
    flex-direction: column;

}
.contenairinputfooter{
    display: flex;
    flex-direction: column;
}
.input{
    margin-top: 10px;
    width: 100%;
    height: 25px;
    display: flex;
    flex-direction: row;
}
.input input{
    background-color: white;
    border: none;
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
    width: 90%;
    font-size: 1.5em;
}
#btnfooter{ 
    border: none;
    background-color: #84c99d;
    color: white;
}
.contenairtroisiemfooter{
    width: 100%;
    display: flex;
    justify-content: space-between;
   
}
.itemsfooter{
    display: flex;
    flex-direction: column;
}
.contenairtroisiemfooter li{
    list-style-type: none;
    margin-top: 6px;
    
}
.contenairtroisiemfooter ul{
    padding:0;
    display: flex;
    flex-direction: column;
}
.resorces{
    margin-bottom:10px ;
}



